
body{
    background-image: url("../images/doodles.png");

}
#content{
    float:left;
    height: 100%;
    width:75%;
    margin-left:20px;
    clear: right;
}

#product-table{
    width:50%;
    border: solid;
    margin:auto;
    background:aliceblue;
}
td{
    border-top:solid;
    padding:1em;
}
table{
    margin:auto;
}
h3{
    width:50%;
    margin:auto;
}

#basket-box{
    margin-bottom: 20px;
    margin-top:20px;
    width:25%;
    border: solid;
    background: aliceblue;
}

#basket-box p{
    margin-left: 20px;
}

#basket-option-box{
    margin-bottom: 20px;
    margin-top:20px;
    width:25%;
    border: solid;
    background: aliceblue;
}

.basket-item-box{
    border: solid;
    margin:auto;
    margin-bottom: 20px;
    width: 60%;
}

#product-box{
    width: 50%;
    margin: auto;
    margin-top: 20px;
    background: aliceblue;
    border: solid;
}