#header{
	font-family: 'Pacifico', cursive;
	border-radius: 25px;
    background:lightblue;

}

h1{
	margin-left:10px;

}

h4{
	margin-left:10px;
	margin-bottom:5px;
}

#title-border{
	border-radius: 25px;
	border: solid;
	width: 25%;
	margin-bottom:10px;
}

.nav-bar{
	display:flex;
	flex-direction: row;
	justify-content:center;
	width:100%;
}

.nav-button{
	font-family: courier;
	text-align:center;
	width: 250px;
	border-radius: 25px;
	background: aliceblue;
    border:solid;
	margin-left:20px;
	margin-bottom:5px;
}

.nav-button:hover{
    background: grey;
    color:red;
    border-color:black;
}