#sideBar{
    border-radius: 25px;
    height: 100%;
    width:10%;
    background:lightblue;
    float:left;
    display: flex;
    flex-direction: column;
}
.side-button{
    font-family: courier;
    text-align:center;
    width: 90%;
    border-radius: 25px;
    background: aliceblue;
    border:solid;
    margin-top: 20px;
    margin-bottom: 20px;
}
.but-text{
    width:100%;
    height: 100%;
}